* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body {
    background-color: rgb(50,50,50);
}
.watch {
    width: 80vw;
    background-color: rgb(35,35,35);
    border-radius: 3.5vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 30px 30px;
    position: absolute;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
}
.time {
    font-size: 14vw;
}
.controls {
    margin-top: 5%;
    white-space: nowrap;
}
.controls button{
    background-color: rgb(200,60,60);
    margin: 1vw;
    width: 18vw;
    height: 7vw;
    font-size: 2.5vw;
    font-weight: 600;
    border-radius: 1.5vmax;
}
.controls button:hover {
    color: black;
    box-shadow: 0px 0px 5px 1px black;
    border: 1px solid black;
}